<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<%= simple_form_for @post do |f| %>
<% if @post.errors.any? %>
<div id="errors">
	<h2>
	<%= pluralize(@post.errors.count, "error")  %> prevented this post from saving
	</h2>
	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li> <%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row control-group">
	 <%= f.input :title, required: true,label: 'Title', placeholder: "Enter topic", id:"title"  %>
</div>

<div class="row control-group">
	<%= f.input :subtitle , required: true, label: 'Sub Title', placeholder: "Short summary for this post", id: "subtitle" %>
</div>

<div class="row control-group">
	<% @categories = Category.all.map{|c| [c.title, c.id]} %>
    <%= f.input :category_id, required: true, id:"category" ,:collection => @categories, as: :select %>
</div>

<div class="row control-group">
	<%= f.input :body, as: :text, label: 'Content', :input_html => { :class => "redactor"} , id:"body" %>
</div>

<div class="row control-group">
	<%= f.input :is_private, as: :boolean, label: 'Private?'%>
</div>

<div id="success">
        <div class="row">
        <%= f.submit "Post", id: 'success', class: 'btn btn-default' %>
</div>
</div>

<% end %>
</div>
</div>
