 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(<%= asset_path 'blog/home-bg.jpg' %>)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Gavin's Blog</h1>
                        <hr class="small">
                        <span class="subheading">Things I love</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Main Content -->    
    <% @posts.each do |post| %>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                   <%= link_to post do %>
                        <h2 class="post-title">
                            <%= post.title %>
                        </h2>
                    <% end %>    
                        <h3 class="post-subtitle">
							<%= truncate(simple_format(post.body), :length => 100) %>
                        </h3>
                    <p class="post-meta">Posted by <%= post.created_at.strftime("%b %d, %Y") %> </p>
                    <hr>
                </div>
                 </div>
                
                 </div>
       
          <% end %>
            
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <%= will_paginate @posts, inner_window: 2 %>
                    </li>
                </ul>
