<%= render "common/header", header_title: 'Gavin Chiang', sub_title: 'Things I love', pic_path: 'blog_min/home-bg.jpg',is_post: false %>

<!-- Main Content -->
<% if user_signed_in? %>
<%= link_to("New Post", new_post_path, class: "btn btn-default pull-right")%>
    <% if !current_user.is_admin?%>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        Thanks for singing up, you are allowed to post but not edit or delete.
        <br>
       Please create a post to Gavin!!
    </div>
    <% end %>
<% end %>

<% @posts.each do |post| %>
    <% if !post.is_private %>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <%= link_to post do %>
                    <h2 class="post-title">
                    <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                    <%= truncate(post.subtitle, length: 50) %>
                    </h3>
                    <% end %>
                    <p class="post-meta">Posted on <%= post.created_at.strftime("%b %d, %Y") %> </p>
                    <hr>
                </div>
            </div>  
        </div>
    <% elsif post.is_private && user_signed_in? %>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <%= link_to post do %>
                    <h2 class="post-title">
                    <%= post.title %> 
                    </h2>
                    <h3 class="post-subtitle">
                    <%= truncate(post.subtitle, length: 50) %>
                    </h3>
                    <% end %>
                    <p class="post-meta">Privately Posted on <%= post.created_at.strftime("%b %d, %Y") %> </p>
                    <hr>
                </div>
            </div>  
        </div>
    <% end %>
<% end %>

<!-- Pager -->
<ul class="pager">
    <li class="next">
        <%= will_paginate @posts, inner_window: 2 %>
    </li>
</ul>