<%= render "common/header", header_title: 'Gavin Chiang', sub_title: 'Things I love', pic_path: 'blog/home-bg.jpg',is_post: false %>

<!-- Main Content -->
<% if user_signed_in? %>
<%= link_to("New Post", new_post_path, class: "btn btn-default pull-right")%>
<% end %>

<% @posts.each do |post| %>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <%= link_to post do %>
            <h2 class="post-title">
            <%= post.title %>
            </h2>
            <% end %>
            <h3 class="post-subtitle">
            <%= truncate(simple_format(post.body), length: 100) %>
            </h3>
            <p class="post-meta">Posted on <%= post.created_at.strftime("%b %d, %Y") %> </p>
            <hr>
        </div>
    </div>  
</div>
<% end %>

<!-- Pager -->
<ul class="pager">
    <li class="next">
        <%= will_paginate @posts, inner_window: 2 %>
    </li>
</ul>