<% @posts.each do |post| %>
<div class="post_wrapper">
	<h2 class="title">
	<%= link_to post.title, post %>
	</h2>
	<br>
	<p>
		<%= truncate(simple_format(post.body), :length => 100) %>
		<font color="#00CED1"> <%= link_to "(whole post)", post %> </font>
	</p>
	
	<p class="date"> <%= post.created_at.strftime("%b %d, %Y") %> </p>
</div>
<% end %>
<div class="center">
	<%= will_paginate @posts, inner_window: 2 %>
</div>