<%= render "common/header", header_title: @post.title, pic_path: 'blog_min/post-bg.jpeg', sub_title: @post.subtitle , post_time: (@post.is_private ? 'Privately ': '') + 'Posted by ' + @post.created_at.strftime("%B %d, %Y"), is_post: true %>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%= simple_format(@post.body) %>
            </div>
            <% if user_signed_in? && current_user.is_admin? %>
            <%= link_to 'Edit', edit_post_path(@post) %>
            | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure to delete this post?'} %>
            <% end %>
        </div>
        <br>
        <div id="comments">
            <h3> Add Some Comment to Gavin </h3>
            <%= render "disqus" %>
        </div>
    </div>
</article>