<%= render "common/header", header_title: 'Categories', sub_title: 'What are you interested in?', pic_path: 'blog_min/category-bg.jpeg',is_post: false  %>


<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<h1> <%= @category.title %> </h1>

	<%= simple_form_for @category  do |c| %>
	<div  class="field">
    <%= c.input :title,label:'Rename Category' %>
  </div>
	<br>
	<%= c.submit "Edit",id: 'success', class: 'btn btn-default', data: { disable_with: "Submitting..." } %>
	<% end %>	
</div>
